services:
  postgres:
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  api:
    build: .
    container_name: go-api
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      DB_DRIVER: postgres
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: app
      DB_USER: app
      DB_PASSWORD: secret

volumes:
  pgdata:
