name: Deploy Swagger UI to GitHub Pages

on:
  push:
    branches:
      - main # или ваша основная ветка

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload Docs
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs

      - name: Deploy Pages
        uses: actions/deploy-pages@v1
